html {
  background-image: url("../assets/Sen-da_7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#login {
  margin-top: 55px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 60px;
  width: 350px;
  background: white;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 5px 0px 10px grey;
}
p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
}

input#username,
input#password {
  border-radius: 24px;
  font-size: 17px;
  border: 0.5px solid grey;
  height: 50px;
  padding-left: 20px;
  /* box-shadow: 1px 0px 5px grey; */
}
input#password {
  margin-top: 30px;
}

#home {
  display: flex;
  justify-content: center;
}
button#login {
  background-image: linear-gradient(to left, #5256cc, #c448b6);
  width: 120px;
  height: 45px;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  box-shadow: none;
  margin: 0;
}
